
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap');

/* Ð¡ustomization*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container{
    max-width: 1440px;
    margin: 0px auto;
    background-color:#E3E6E8;

}


/* Header */

.header_right{
    font-family: "Roboto";
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px;
    color: #F3AF47;
}

.header_common{
    background: url(../wallpaperjpg.jpg);
    width: 100%;
}

.header_left{
    margin-left: 50px;
}

.header_common{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    
}

.header_left img{
    border-radius: 10px;
}

/* About me */

.photo_desc img{
    border-radius: 300px;
    height: 500px;
    width: 500px;
}

.photo_desc{
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience{
    list-style-type: none;
    padding-left:100px;
}

.about_me_common{
    display: flex;
}

.about_me_opisanie_list{
    padding-left: 100px;
    padding-top: 100px;
    list-style-type: none;
}

#ab{
    font-family: "Roboto";
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
}

.list_weak{
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.list_weak_item{
    margin: 50px 25px  50px  0 ;
}

.links{
    display: flex;
   
}

.img_min img{
    width: 50px;
    height: 50px;
    margin: 25px 25px 25px 0;
}

h1{
    text-align: center;
}

.hobby{
    margin-top: 100px;
}
